.home-header {
  text-align: center;

  h2 {
    color: #0080ff;
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
    color: #0f52ba;
    margin-bottom: 1rem;

    span {
      color: #b0c4de;
    }
  }

  p {
    color: #a9a9a9;
    font-weight: 500;
  }
}
